name: Build cAP ax Firmware
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y build-essential libncurses5-dev libssl-dev zlib1g-dev gawk wget git gettext python3 rsync unzip

      - name: Download ImageBuilder
        run: |
          # Используем ImageBuilder от ImmortalWrt (ветка 23.05)
          # Это зеркало на GitHub, оно НЕ может выдать 404
          wget https://github.com/immortalwrt/immortalwrt/releases/download/v23.05.4/immortalwrt-imagebuilder-23.05.4-ipq60xx-generic.Linux-x86_64.tar.xz
          tar -xJf *.tar.xz
          mv immortalwrt-imagebuilder-* ib

      - name: Build Firmware
        run: |
          cd ib
          # Профиль для cAP ax
          make image PROFILE=mikrotik_cap-ax PACKAGES="luci luci-ssl luci-proto-modemmanager luci-app-modemmanager modemmanager kmod-usb-net-cdc-mbim kmod-usb-net-qmi-wwan kmod-usb-serial-quectel ath11k-firmware-ipq6018"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: OpenWrt_cAP_ax
          path: ib/bin/targets/ipq60xx/generic/*
