name: Build cAP ax Firmware
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y build-essential libncurses5-dev libssl-dev zlib1g-dev gawk wget git gettext python3 rsync unzip

      - name: Download ImageBuilder
        run: |
          # Заходим в корень и ищем нужную подпапку (обычно ipq60xx)
          BASE_URL="https://downloads.openwrt.org/snapshots/targets/qualcommax"
          SUB_DIR=$(wget -qO- $BASE_URL/ | grep -oE 'ipq60xx[/_a-z0-9]*' | head -n 1 | tr -d '/')
          
          # Находим точное имя файла ImageBuilder в этой папке
          IB_FILENAME=$(wget -qO- $BASE_URL/$SUB_DIR/ | grep -oE 'openwrt-imagebuilder-[^"> ]+\.tar\.xz' | head -n 1)
          
          echo "Full URL: $BASE_URL/$SUB_DIR/$IB_FILENAME"
          
          # Скачиваем и распаковываем
          wget "$BASE_URL/$SUB_DIR/$IB_FILENAME"
          tar -xJf *.tar.xz
          mv openwrt-imagebuilder-* ib

      - name: Build Firmware
        run: |
          cd ib
          # Сборка прошивки
          make image PROFILE=mikrotik_cap-ax PACKAGES="luci luci-ssl luci-proto-modemmanager luci-app-modemmanager modemmanager kmod-usb-net-cdc-mbim kmod-usb-net-qmi-wwan kmod-usb-serial-quectel ath11k-firmware-ipq6018 kmod-usb-core kmod-usb3"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: OpenWrt_cAP_ax
          path: ib/bin/targets/qualcommax/*/*
